#gridSystemModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='gridModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-body
                table#filterTableId.display
            .modal-footer
                button#viewFiltered.btn.btn-primary(type='button') View Filtered
                button#cancelFiltered.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
button#filterBtn | Filter The Greedy
